<%- include("partials/header") %>
<title>Best of <%=id[0].name%></title>
<div class="container pr-1 pl-1 pt-1 mt1-4 lc pb-1">
    <!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="<%=id[0].img%>" style="width:100%" alt="Avatar">
           <!-- <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2><%=id[0].name%></h2>
            </div> -->
          </div>
          <br>
          <div class="w3-container">
            <p class="font bl"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large txc"></i><%=id[0].domain%></p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large txc"></i><a class="font bl" href="<%=id[0].history.url%>"><%=id[0].history.name%></a></p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large txc"></i><a class="font bl" href="<%=id[0].usage.url%>"><%=id[0].usage.name%></a></p>
            <hr>
  
            <p class="w3-large font txc"><b class="font3"><i class="fa fa-asterisk fa-fw w3-margin-right txc"></i>rated ordering</b></p>
            <% id[0].rating.forEach(function(r){ %>
            <p class="font bl"><%=r.name%></p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge bac w3-text-white" style="width:<%=r.per%>"><%=r.per%></div>
            </div>
            <% }); %> 
            <!-- <p>wikipedia</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge bac" style="width:80%">
                <div class="w3-center w3-text-white">80%</div>
              </div>
            </div>
            <p>tutorial point</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge bac w3-text-white" style="width:75%">75%</div>
            </div>
            <p>Media</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge bac w3-text-white" style="width:50%">50%</div> -->
            <br>
  
            <p class="w3-large w3-text-theme txc"><b class="font3"><i class="fa fa-globe fa-fw w3-margin-right txc"></i>course usefulness and level</b></p>
            <%id[0].use.forEach(function(r){%>
              <p class="font bl"><%=r.name%></p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge bac w3-text-white" style="width:<%=r.level%>"><%=r.level%></div>
              </div>
              <% }); %><br>
          </div>
      <!-- End Left Column -->
      </div>
      </div>


  
      <!-- Right Column -->
      <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 class="txc font3">Best of <%=id[0].name%></h1></div>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h5 class="font2">Best websites,courses,channels,lectures,textbooks to learn <%=id[0].name%> ,provide you with a best of all resourses to study <%=id[0].name%></h5>
      </div>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> Websites</h2>
          <p class="font2">This website section gives you the best websites to learn <%=id[0].name%> ,well searched sites and top rated sites for given content,it is given in the order of best content and it will goes on.</p>
          <%id[0].websites.forEach(function(w){%>
          <div class="w3-container">
            <h5 class="w3-opacity font3"><b><%=w.name%></b></h5>
            <a class="txc" href="<%=w.url%>"><h6><i class="fa fa-link txc" aria-hidden="true"></i> <%=w.url%></h6></a>
            <hr>
          </div>
          <% }); %>
        </div>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> Coureses</h2>
          <p class="font2">This Courses section gives you the best courses to learn <%=id[0].name%>,well searched courses and top rated courses for given content,it is given in the order of best content and it will goes on.</p>
          <%id[0].courses.forEach(function(w){%>
          <div class="w3-container">
            <h5 class="w3-opacity font3"><b><%=w.name%></b></h5>
            <a class="txc" href="<%=w.url%>"><h6><i class="fa fa-link txc" aria-hidden="true"></i> <%=w.url%></h6></a>
            <hr>
          </div>
          <% }); %>
        </div>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> Channels</h2>
          <p class="font2">This channels section gives you the best youtube channels to learn <%=id[0].name%>,well searched lectures in youtube and top rated channels for given content,it is given in the order of best content and it will goes on.</p>
          <%id[0].channels.forEach(function(w){%>
          <div class="w3-container">
            <h5 class="w3-opacity font3"><b><%=w.name%></b></h5>
            <a class="txc" href="<%=w.url%>"><h6><i class="fa fa-link txc" aria-hidden="true"></i> <%=w.url%></h6></a>
            <hr>
          </div>
          <% }); %>
        </div>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-padding-16 font"><i class="fa fa-file-text txc" aria-hidden="true"> </i> TextBooks</h2>
          <p class="font2">This Testbooks section gives you the best testbooks to learn <%=id[0].name%>,well searched textbooks and top rated testbooks for given content,it is given in the order of best content and it will goes on.</p>
          <%id[0].textbooks.forEach(function(w){%>
          <div class="w3-container">
            <h5 class="w3-opacity font3"><b><%=w.name%></b></h5>
            <a class="txc" href="<%=w.url%>"><h6><i class="fa fa-link txc" aria-hidden="true"></i> <%=w.url%></h6></a>
            <hr>
          </div>
          <% }); %>
        </div>
  
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>
  
<h2 class="display-6 font3">Related Topics</h2>
  
            <<div class="row border1 pb-3 pt-3">
              <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
                <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb99"><div class="card h50 border1">
                  <img src="/images/co.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title bl font"> Best of Computer Organization</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div></a>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
                <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb9a"><div class="card h50 border1">
                  <img src="/images/flat.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title bl font">Best of Theory of Automation(FLAT)</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div></a>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
                <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb92"><div class="card h50 border1">
                  <img src="/images/cd.jpg"class="card-img-top img-fluid img-thumbnail"  alt="...">
                  <div class="card-body">
                    <h5 class="card-title bl font">Best of Compiler Design</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div></a>
              </div>
              <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12">
                <a class="font lc bl" href="/cse/5fbf58cf07566712ac1ecb93"><div class="card h50 border1">
                  <img src="/images/ds.jpg"class="card-img-top img-fluid img-thumbnail"  alt="...">
                  <div class="card-body ">
                    <h5 class="card-title bl font">Best ofData Structures</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div></a>
              </div>
            </div>
</div>
<%- include("partials/footer") %>