<%- include("partials/header") %>
<div class="container pr-1 pl-1 pt-1 mt1-4 lc pb-1">
    <!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="<%=id[0].img%>" style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2><%=id[0].name%></h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designed and history</p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>real life usage</p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>references</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i></p>
            <hr>
  
            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>rated ordering</b></p>
            <p>geeks for geeks</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
            </div>
            <p>wikipedia</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                <div class="w3-center w3-text-white">80%</div>
              </div>
            </div>
            <p>tutorial point</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
            </div>
            <p>Media</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
            </div>
            <br>
  
            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>course usefulness and level</b></p>
            <p>placements and medium</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
            </div>
            <p>improves thought process and medium</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
            </div>
            <p>German</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
            </div>
            <br>
          </div>
        </div><br>
  
      <!-- End Left Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-twothird">
      
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>websites</h2>
          <p>This website section gives you the best websites,well searched sites and top rated sites for given content,it is given in the order of best content and it will goes on.</p>
          <%id[0].websites.forEach(function(w){%>
          <div class="w3-container">
            <h5 class="w3-opacity"><b><%=w.name%></b></h5>
            <a href="<%=w.url%>"><h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%=w.url%></h6></a>
            <hr>
          </div>
          <% }); %>
          <!-- <div class="w3-container">
            <h5 class="w3-opacity"><b>Wikipedia</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>https://en.wikipedia.org/wiki/Data_structure</h6>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Tutorial point</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>https://www.tutorialspoint.com/data_structures_algorithms/data_structures_basics.htm</h6>
            <br>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>codedad</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>http://codedad.co.uk/13-resources-learn-data-structures-algorithms/</h6>
            <hr>
          </div> -->
        </div>
  
        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
            <p>Web Development! All I need to know in one place</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>London Business School</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
            <p>Master Degree</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>School of Coding</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
            <p>Bachelor Degree</p><br>
          </div>
        </div>
  
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>
  
<h2 class="display-6 font3">Related Topics</h2>
  
            <div class="col-xs-12 pt-2 pb-2">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row border1 pb-3 pt-3">

                      <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 ">                      
                        <a class="font lc bl" href="#"><div class="card h50 border1">
                          <img src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/09/26153206/scope-of-plecements-in-cse-embibe1.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                          <div class="card-body lc">
                            <h5 class="card-title bl">C programming</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          </div>
                        </div></a>
                  </div>
              
                  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 ">                   
                    <a class="font lc bl" href="#"><div class="card h50 border1">
                      <img src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/09/26153206/scope-of-plecements-in-cse-embibe1.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                      <div class="card-body lc">
                        <h5 class="card-title bl">C programming</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div></a>
                  </div>
                  
                  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 ">                   
                    <a class="font lc bl" href="#"><div class="card h50 border1 ">
                      <img src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/09/26153206/scope-of-plecements-in-cse-embibe1.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                      <div class="card-body lc">
                        <h5 class="card-title bl">C programming</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div></a>
                  </div>
              
                  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12  ">                    
                    <a class="font lc bl" href="#"><div class="card h50 border1 ">
                      <img src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/09/26153206/scope-of-plecements-in-cse-embibe1.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                      <div class="card-body lc">
                        <h5 class="card-title bl">C programming</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div></a>
                  </div>
                </div>
                </div>
              
                  <div class="carousel-item">
                    <div class="row  border1 pb-3 pt-3">
                      <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 ">                       
                        <a class="font lc bl" href="#"><div class="card h50 border1">
                          <img src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/09/26153206/scope-of-plecements-in-cse-embibe1.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                          <div class="card-body lc">
                            <h5 class="card-title bl">C programming</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          </div>
                        </div></a>
                  </div>
                 
                  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 ">                   
                    <a class="font lc bl" href="#"><div class="card h50 border1">
                      <img src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/09/26153206/scope-of-plecements-in-cse-embibe1.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                      <div class="card-body lc">
                        <h5 class="card-title bl">C programming</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div></a>
                  </div>
                  
                  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 ">                   
                    <a class="font lc bl" href="#"><div class="card h50 border1">
                      <img src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/09/26153206/scope-of-plecements-in-cse-embibe1.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                      <div class="card-body lc">
                        <h5 class="card-title bl">C programming</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div></a>
                  </div>
                  
                  <div class="col-lg-3 col-sm-6 col-md-4 col-xs-12 ">             
                    <a class="font lc bl" href="#"><div class="card h50 border1">
                      <img src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/09/26153206/scope-of-plecements-in-cse-embibe1.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                      <div class="card-body lc">
                        <h5 class="card-title bl">C programming</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div></a>
                </div>


                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
             </div>

          </div>
            </div>
</div>
<%- include("partials/footer") %>